/* ********************* Page */
#oa_social_login_page {
    background-color: #fff;
    padding: 20px;
}

#oa_social_login_page h2 {
    margin-top: 0;
    font-size: 18px;
}

#oa_social_login_page .nav-tab-wrapper {
    border-bottom: 3px solid #0073aa;
}

#oa_social_login_page .nav-tab {
    padding: 10px 0;
    text-align: center;
    width: 150px;
    margin: 0 5px -1px 0;
    border: 0 none;
}

#oa_social_login_page .nav-tab-active, 
#oa_social_login_page .nav-tab-active:focus, 
#oa_social_login_page .nav-tab-active:focus:active, 
#oa_social_login_page.nav-tab-active:hover {
    background-color: #0073aa !important;
    border-bottom: 1px solid #0073aa;
    color: #fff;
}

#oa_social_login_page .nav-tab:hover {
    background-color: #eee;
    box-shadow: none;
}

/* ********************* Plugins */
.oa_social_login_plugin {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin: 10px 0 25px;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}

.oa_social_login_plugin .oa_social_login_plugin_img img {
    float: left;
    width: 480px;
}

.oa_social_login_plugin .oa_social_login_plugin_desc {
    font-size: 17px;
    line-height: 24px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    height: 136px;
    padding: 10px 30px;
    text-align:justify;
}

@media only screen and (max-width: 1200px) {    
    .oa_social_login_plugin .oa_social_login_plugin_img img{
        width: 100%;
    }
}

/* ********************* Base Button */
.oa_social_login_btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.oa_social_login_btn.oa_social_login_btn_large{
    font-size: 19px;
}

/* ********************* Success Button */
.oa_social_login_btn_success:focus, 
.oa_social_login_btn_success:active, 
.oa_social_login_btn_success {
    color: #fff;
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
    box-shadow: none;
}

.oa_social_login_btn_success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

/* ********************* Info Button */
.oa_social_login_btn_info:focus,
.oa_social_login_btn_info:active,
.oa_social_login_btn_info {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 126, 155);
    border-color: rgb(27, 111, 152);
    box-shadow: none;
}

.oa_social_login_btn_info:hover {
    color: #fff;
    background-color: rgb(44, 90, 113);
}

/* ********************* Base Box */
.oa_social_login_box {
    border: 1px solid rgb(228, 228, 228);
    margin : 20px 0 35px 0;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 20px 0 35px 0;
}

.oa_social_login_box p {
    font-size: 15px;
}

.oa_social_login_box ul {
    font-size: 15px;
    list-style: disc;
    overflow: hidden;
    padding-left: 17px;
}

.oa_social_login_box ul li{
    padding-left: 5px;
}

.oa_social_login_box a:hover {
    text-decoration: none;
}

.oa_social_login_box .oa_social_login_box_title {
    border-bottom: 1px solid rgb(228, 228, 228);
    font-size : 16px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 4px;
    font-size: 16px;
}

/* ********************* Success Box */
.oa_social_login_box.oa_social_login_box_success {
    background-color: #ebffe2;
    border-color: #cef2b1;
    color: #3c763d;
}

.oa_social_login_box.oa_social_login_box_success a:not(.oa_social_login_btn ){
    color: #3c763d;
}

.oa_social_login_box.oa_social_login_box_success .oa_social_login_box_title {
    border-bottom: 1px solid rgb(206, 242, 177);
}

/* ********************* Warning Box */
.oa_social_login_box.oa_social_login_box_warning {
    background-color: rgb(253, 247, 227);
    border-color: rgb(255, 236, 171);
    color: rgb(65, 65, 65);
}

.oa_social_login_box.oa_social_login_box_warning a:not(.oa_social_login_btn ){
    color: #3c763d;
}

.oa_social_login_box.oa_social_login_box_warning .oa_social_login_box_title {
    border-bottom: 1px solid rgb(222, 222, 222);
}

/* ********************* Notice Box */
.oa_social_login_box.oa_social_login_box_notice {
    background-color: rgb(142, 68, 173);
    border-color: rgb(128, 43, 164);
    color: #fff;
}

.oa_social_login_box.oa_social_login_box_warning a:not(.oa_social_login_btn ){
    color: #fff;
}

.oa_social_login_box.oa_social_login_box_warning .oa_social_login_box_title {
    border-bottom: 1px solid rgb(222, 222, 222);
}

/* ********************* Info Box */
.oa_social_login_box.oa_social_login_box_info {
    background-color: rgb(206, 224, 237);
    border-color: rgb(186, 215, 236);
    color: rgb(80, 80, 80);
}

.oa_social_login_box.oa_social_login_box_info a:not(.oa_social_login_btn ){
    color: #fff;
}

.oa_social_login_box.oa_social_login_box_info .oa_social_login_box_title {
    color: rgb(68, 119, 156);
    text-align: center;
    border: 0 none;
    font-size: 18px;
}

/* ********************* Header Links */
.oa_social_login_header_links {
    float: right;
}

.oa_social_login_header_links a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    color: rgb(142, 68, 173);
    text-decoration: none;
}

.oa_social_login_header_links a:hover {
    color: rgb(167, 89, 200);
}

/* ********************* Tables */
.oa_social_login_table {
    background-color: #efefef;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0 0 25px;
    table-layout: fixed;
}

.oa_social_login_table td, 
.oa_social_login_table th {
    width: 250px;
    display: table-cell ! important;
    padding:15px !important;
}

.oa_social_login_table td+td, 
.oa_social_login_table th+th {
    width: auto;
}

.oa_social_login_table input {
    border-color: #aaa;
    max-width: 100%;
}

.oa_social_login_table input:focus{
    border: 1px solid rgb(41, 128, 185); 
    box-shadow: none;   
}

.oa_social_login_table textarea {
    border-color: rgb(200, 200, 200);
    width: 100%;
    margin-top: 10px;
}

.oa_social_login_table tr.row_head th {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(41, 128, 185);
    color: #fff;
    padding: 15px 10px;
}

.oa_social_login_table tr td img {
    vertical-align: middle;
}

.oa_social_login_table tr.row_head th a {
    color: #F1EE10;
}

.oa_social_login_table tr.row_head th a:hover {
    color: #fff;
    text-decoration: none;
}

.oa_social_login_table tr.row_odd td {
    color: #222;
    background-color: #efefef;
    line-height: 23px
}

.oa_social_login_table tr.row_even td {
    color: #333;
    background-color: #fff;
    line-height: 23px
}

.oa_social_login_table tr td.col_br {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.oa_social_login_table tr td.col_pt_0 {
    padding-top: 0;
}

.oa_social_login_table tr td.col_center {
    text-align: center;
}

.oa_social_login_table tr td.col_provider {
    font-size: 15px;
}

.oa_social_login_table tr.row_foot td {
    background-color: #ddd;
}

/* ********************* Status Message */
.oa_social_login_table tr.row_foot .error_message {
    color: red;
    background: url("../img/status_error.png") no-repeat scroll 0 50% #ddd;
    padding-left: 25px;
    font-weight: bold;
}

.oa_social_login_table tr.row_foot .error_message, 
.oa_social_login_table tr.row_foot .error_message a {
    color: red;
    font-weight: bold;
}

.oa_social_login_table tr.row_foot .working_message {
    color: blue;
    background: url("../img/status_loading.gif") no-repeat scroll 0 50% #ddd;
    padding-left: 25px;
    font-weight: bold;
}

.oa_social_login_table tr.row_foot .error_message a:hover {
    color: #C70000;
}

.oa_social_login_table tr.row_foot .success_message {
    color: green;
    background: url("../img/status_ok.png") no-repeat scroll 0 50% #ddd;
    padding-left: 25px;
    font-weight: bold;
}

/* ********************* Button Container */
.oa_social_login_buttons {
    text-align: center;
    margin: 15px 0 10px 0;
}

/* ********************* Providers */
.oa_social_login_provider {
    background-image: url("../img/sprite_35_35.png");
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    display: inline-block;
}

/* ********************* Provider Icons */
.oa_social_login_provider_amazon {
    background-position: -1149px -1px;
}

.oa_social_login_provider_battlenet {
    background-position: -1223px -1px;
}

.oa_social_login_provider_blogger {
    background-position: -39px -1px;
}

.oa_social_login_provider_discord {
    background-position: -1519px -1px;
}

.oa_social_login_provider_disqus {
    background-position: -964px -1px;
}

.oa_social_login_provider_draugiem {
    background-position: -446px -1px;
}

.oa_social_login_provider_dribbble {
    background-position: -1260px -1px;
}

.oa_social_login_provider_facebook {
    background-position: -76px -1px;
}

.oa_social_login_provider_foursquare {
    background-position: -113px -1px;
}

.oa_social_login_provider_github {
    background-position: -927px -1px;
}

.oa_social_login_provider_google {
    background-position: -150px -1px;
}

.oa_social_login_provider_instagram {
    background-position: -1186px -1px;
}

.oa_social_login_provider_line {
    background-position: -1445px -1px;
}

.oa_social_login_provider_linkedin {
    background-position: -224px -1px;
}

.oa_social_login_provider_livejournal {
    background-position: -298px -1px;
}

.oa_social_login_provider_mailru {
    background-position: -853px -1px;
}

.oa_social_login_provider_meetup {
    background-position: -1408px -1px;
}

.oa_social_login_provider_mixer {
    background-position: -1667px -1px;
}

.oa_social_login_provider_odnoklassniki {
    background-position: -1038px -1px;
}

.oa_social_login_provider_openid {
    background-position: -409px -1px;
}

.oa_social_login_provider_paypal {
    background-position: -742px -1px;
}

.oa_social_login_provider_pinterest {
    background-position: -1297px -1px;
}

.oa_social_login_provider_pixelpin {
    background-position: -1334px -1px;
}

.oa_social_login_provider_reddit {
    background-position: -187px -1px;
}

.oa_social_login_provider_skyrock {
    background-position: -890px -1px;
}

.oa_social_login_provider_storage {
    background-position: -1371px -1px;
}

.oa_social_login_provider_soundcloud {
    background-position: -1482px -1px;
}

.oa_social_login_provider_stackexchange {
    background-position: -779px -1px;
}

.oa_social_login_provider_steam {
    background-position: -816px -1px;
}

.oa_social_login_provider_tumblr {
    background-position: -1593px -1px;
}

.oa_social_login_provider_twitch {
    background-position: -1112px -1px;
}

.oa_social_login_provider_twitter {
    background-position: -520px -1px;
}

.oa_social_login_provider_vimeo {
    background-position: -2px -1px;
}

.oa_social_login_provider_vkontakte {
    background-position: -631px -1px;
}

.oa_social_login_provider_weibo {
    background-position: -1556px -1px;
}

.oa_social_login_provider_windowslive {
    background-position: -261px -1px;
}

.oa_social_login_provider_wordpress {
    background-position: -668px -1px;
}

.oa_social_login_provider_xing {
    background-position: -372px -1px;
}

.oa_social_login_provider_yahoo {
    background-position: -705px -1px;
}

.oa_social_login_provider_youtube {
    background-position: -1001px -1px;
}