/* ********************* Page Wrapper */
#oa_social_login_page {
  max-width: 900px;
}

#oa_social_login_page.oa_social_login_more{
    width:774px;
}


#oa_social_login_page .nav-tab-wrapper{
    border-bottom: 3px solid #0073aa;
}

#oa_social_login_page .nav-tab {
    padding: 5px 30px;
    text-align: center;
    width: 150px
}

#oa_social_login_page .nav-tab-active, 
#oa_social_login_page .nav-tab-active:focus, 
#oa_social_login_page .nav-tab-active:focus:active, 
#oa_social_login_page.nav-tab-active:hover {
    background-color: #0073aa;
    border-bottom: 1px solid #0073aa;
    color: #fff;
}

/* ********************* Plugins */
.oa_social_login_plugin{
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin: 10px 0 25px;
}

.oa_social_login_plugin .oa_social_login_plugin_img img{
    float: left;
    height: 250px;
    width: 772px;
}

.oa_social_login_plugin a.button-primary{
    height: 21px;
    line-height: 19px;
    padding: 0 10px;
    vertical-align: top;
}

.oa_social_login_plugin .oa_social_login_plugin_desc {
 background: #eee none repeat scroll 0 0;
    border-top: 1px solid #fcfcfc;
    box-shadow: 0 0 42px 0 rgba(100, 100, 100, 0.1) inset;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    padding: 15px;
    text-shadow: 0 1px 1px #fff;
}

/* ********************* Boxes */
.oa_social_login_box {
  border: 1px solid #CCCCCC;
  margin-bottom: 35px;
  padding: 10px 15px;
}

.oa_social_login_box p{
  font-size:14px;    
}

.oa_social_login_box .oa_social_login_box_title {
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}

.oa_social_login_box .oa_social_login_button_wrap{
    text-align:center;
    padding: 10px 0 20px;
}

.oa_social_login_box .oa_social_login_button_wrap a{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 33px;    
    margin:0 10px;
}

#oa_social_login_box_started{
  background-color: #dff0d8;
  border-color: #c4d7b4;
  color: #3c763d;
}

#oa_social_login_box_started a {
    color: #1a541b;
}

#oa_social_login_box_started a:hover{
    text-decoration:none;
    color: #111;
}

#oa_social_login_box_started a.button-secondary{
    color: #555;
}

#oa_social_login_box_started h3{
    text-align:center;
    color: #4a844b;
}

#oa_social_login_box_status {
  background-color: #E1EDFF;
  margin-bottom: 10px;
}

#oa_social_login_box_status p{
    text-align:center;
    font-size: 15px;
}

#oa_social_login_box_notice {
  background-color: #C4F095;
}

#oa_social_login_box_help {
  background-color: #FFFFE0;
  border-color: #E6DB55;
  margin-bottom: 35px;
}

#oa_social_login_box_help ul {
  padding-left: 20px;
  list-style-type: disc;
}

#oa_social_login_box_help .oa_social_login_box_title {
  border-color: #E6DB55;
}

#oa_social_login_box_help a {
  color: #111;
}

#oa_social_login_box_help a:hover {
  color: #d54e21;
}

#oa_social_login_box_updated {
  background-color: green;
  color: #fff;
  font-weight: bold;
}

/* ********************* Tables */
.oa_social_login_table {
  background-color: #efefef;
  border: 1px solid #ccc;
  margin: 0 0 25px;
}

.oa_social_login_table textarea,.oa_social_login_table input {
  border-color: #aaa;
}

.oa_social_login_table tr.row_head th {
  font-size: 14px;
  font-weight: bold;
  background-color: #3E687B;
  color: #fff;
  text-shadow: 0 1px 0 #333;
  padding: 15px 10px;
}

.oa_social_login_table tr td img{
    vertical-align:middle;
}

.oa_social_login_table tr.row_head th a {
  color: #F1EE10;
}

.oa_social_login_table tr.row_head th a:hover {
  color: #fff;
  text-decoration: none;
}

.oa_social_login_table tr.row_odd,
.oa_social_login_table tr.row_odd td {
  color: #222;
  background-color: #ddd;
  border-bottom: 1px dotted #BBBBBB;
  line-height: 23px
}

.oa_social_login_table tr.row_even,
.oa_social_login_table tr.row_even td {
  color: #333;
  background-color: #fff;
  border-bottom: 1px dotted #bbb;
  line-height: 23px
}


.oa_social_login_table td.col_unpadded{
    padding:0;
}

.oa_social_login_table tr td.row_multi {
  border-right: 1px dotted #BBBBBB;
}

.oa_social_login_table tr.row_foot td {
  background-color: #ddd;
}

.oa_social_login_table tr.row_foot .error_message {
  color: red;
  background: url("../img/status_error.png") no-repeat scroll 0 50% #ddd;
  padding-left: 25px;
  font-weight: bold;
}

.oa_social_login_table tr.row_foot .error_message,.oa_social_login_table tr.row_foot .error_message a {
  color: red;
  font-weight: bold;
}

.oa_social_login_table tr.row_foot .working_message {
  color: blue;
  background: url("../img/status_loading.gif") no-repeat scroll 0 50% #ddd;
  padding-left: 25px;
  font-weight: bold;
}

.oa_social_login_table tr.row_foot .error_message a:hover {
  color: #C70000;
}

.oa_social_login_table tr.row_foot .success_message {
  color: green;
  background: url("../img/status_ok.png") no-repeat scroll 0 50% #ddd;
  padding-left: 25px;
  font-weight: bold;
}


.oa_social_login_table a.social-sharing{
    background-image: url("../img/social_sharing.png");
    background-repeat:no-repeat;
    display: block;
    height: 250px;
    width:772px;
}

/* ********************* Providers */
.oa_social_login_table tr.row_provider td {
  line-height: 35px;
}

.oa_social_login_table tr.row_provider td.cell_provider_icon {
  width: 50px;
  text-align: center !important;
}

.oa_social_login_table tr.row_provider td.cell_provider_label {
  text-align: left !important;
}

.oa_social_login_provider {
  background-image: url("../img/sprite_35_35.png");
  text-indent: -9999px;
  height: 35px;
  width: 35px;
  display: inline-block;
}


/* Buttons */
.oa_social_login_provider_vimeo {
  background-position: -2px -1px;
}

.oa_social_login_provider_blogger {
  background-position: -39px -1px;
}

.oa_social_login_provider_facebook {
  background-position: -76px -1px;
}

.oa_social_login_provider_foursquare {
  background-position: -113px -1px;
}

.oa_social_login_provider_google {
  background-position: -150px -1px;
}

.oa_social_login_provider_reddit {
  background-position: -187px -1px;
}

.oa_social_login_provider_linkedin {
  background-position: -224px -1px;
}

.oa_social_login_provider_windowslive {
  background-position: -261px -1px;
}

.oa_social_login_provider_livejournal {
  background-position: -298px -1px;
}

.oa_social_login_provider_myspace {
  background-position: -372px -1px;
}

.oa_social_login_provider_openid {
  background-position: -409px -1px;
}

.oa_social_login_provider_draugiem {
  background-position: -446px -1px;
}

.oa_social_login_provider_twitter {
  background-position: -520px -1px;
}

.oa_social_login_provider_vkontakte {
  background-position: -631px -1px;
}

.oa_social_login_provider_wordpress {
  background-position: -668px -1px;
}

.oa_social_login_provider_yahoo {
  background-position: -705px -1px;
}

.oa_social_login_provider_paypal {
  background-position: -742px -1px;
}

.oa_social_login_provider_stackexchange {
  background-position: -779px -1px;
}

.oa_social_login_provider_steam {
  background-position: -816px -1px;
}

.oa_social_login_provider_mailru {
  background-position: -853px -1px;
}

.oa_social_login_provider_skyrock {
  background-position: -890px -1px;
}

.oa_social_login_provider_github {
  background-position: -927px -1px;
}

.oa_social_login_provider_disqus {
  background-position: -964px -1px;
}

.oa_social_login_provider_youtube {
  background-position: -1001px -1px;
}

.oa_social_login_provider_odnoklassniki {
  background-position: -1038px -1px;
}

.oa_social_login_provider_deviantart {
  background-position: -1075px -1px;
}

.oa_social_login_provider_twitch {
  background-position: -1112px -1px;
}

.oa_social_login_provider_amazon {
  background-position: -1149px -1px;
}

.oa_social_login_provider_instagram {
  background-position: -1186px -1px;
}

.oa_social_login_provider_battlenet {
  background-position: -1223px -1px;
}

.oa_social_login_provider_dribbble {
  background-position: -1260px -1px;
}

.oa_social_login_provider_pinterest {
  background-position: -1297px -1px;
}

.oa_social_login_provider_pixelpin {
  background-position: -1334px -1px;
}

.oa_social_login_provider_storage {
  background-position: -1371px -1px;
}

.oa_social_login_provider_meetup {
  background-position: -1408px -1px;
}

.oa_social_login_provider_xing {
    background-position: -372px -1px;
}

.oa_social_login_provider_line {
  background-position: -1445px -1px;
}

.oa_social_login_provider_soundcloud {
  background-position: -1482px -1px;
}

.oa_social_login_provider_discord {
  background-position: -1519px -1px;
}

.oa_social_login_provider_weibo {
  background-position: -1556px -1px;
}

.oa_social_login_provider_tumblr {
  background-position: -1593px -1px;
}
